.container {
  height: auto;
  width: 1440px;

}


.carousel-inner button {
  background-color: white;
  color: blue;
  height: 44px;
  width: 168px;
  border-radius: 10px;
}

.carousel-inner button:hover {
  color: aqua;
  background-color: black;
}

.second-body {
  padding: 50px;
  display: grid;
  grid-template-columns: auto auto;
}

.card-button {
  background-color: rgb(11, 83, 177);
  color: white;
}

.card-button:hover {
  color: dimgray;
}

.third-body h2 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.third-body h2 {
  color: blue;
}

.card-container button {
  width: 207px;
  height: 45px;
  border-radius: 30px;
  background-color: rgb(241, 205, 205);
}

.card-container p i {
  color: blueviolet;
}

.card-container h1,
h5 {
  color: rgb(42, 14, 95);
}

.card-body4 {
  background-color: rgb(62, 88, 236);
  color: white;
  height: 425px;
  border-radius: 10px;
  padding: 15px;


}

.card-body4 button {
  color: rgb(57, 57, 230);
  background-color: white;
}

.card-body4 h1,
h5 {
  color: white;
}

.fourt-body {
  margin: 20px;

}

.happcl {
  display: flex;
  align-items: center;
  justify-content: center;
  color: blue;
}

.six-body {
  margin: 20px;
}

.card-inner p {
  padding-left: 50px;
}

.card-inner img {
  padding-left: 80px;
}

.card-inner h1 {
  padding-left: 30px;
}

.card-inner h2 {
  padding-left: 80px;
}

.Frequently {
  display: flex;
  justify-content: center;
  align-items: center;
  color: blue;
}

.seven-body {
  display: grid;
  grid-template-columns: auto auto;
  margin: 30px;
}

.seven-body h1 {
  font-size: x-large;
}

.seven-body img {
  margin-top: 80px;
}

.inner-card1 {
  height: 203px;
  width: 552px;
  border: 1px solid rgb(168, 166, 166);
  margin-bottom: 10px;


}

.inner-card2 {
  height: 76px;
  width: 552px;
  border: 1px solid rgb(168, 166, 166);
  margin-bottom: 5px;
  justify-content: center;
  align-items: center;
}

.inner-card3 {
  height: 76px;
  width: 552px;
  border: 1px solid rgb(168, 166, 166);
  margin-bottom: 5px;
}

.inner-card4 {
  height: 76px;
  width: 552px;
  border: 1px solid rgb(168, 166, 166);
  margin-bottom: 5px;
}

.seven-body-inner p {
  justify-content: center;
  align-items: center;
}